<div class="root">
  <mat-card>
    <mat-card-header>
      <h2>{{headerText}}</h2>
    </mat-card-header>

    <mat-card-content>
      <form [formGroup]="form" (submit)="submit()">
        <div>
          <mat-form-field appearance="outline" class="form-field">
            <mat-label>Entry date</mat-label>
            <input
              matInput
              [max]="exitDate"
              [matDatepicker]="entryDateDatepicker"
              [formControl]="formControl('entryDate')"
              placeholder="Entry date"
            />
            <mat-datepicker-toggle matSuffix class="" [for]="entryDateDatepicker"></mat-datepicker-toggle>
            <mat-datepicker #entryDateDatepicker></mat-datepicker>
          </mat-form-field>
        </div>

        <div>
          <mat-form-field appearance="outline" class="form-field">
            <mat-label>Exit date</mat-label>
            <input
              matInput
              [min]="entryDate"
              [matDatepicker]="exitDateDatepicker"
              [formControl]="formControl('exitDate')"
              placeholder="Exit date"
            />
            <mat-datepicker-toggle matSuffix [for]="exitDateDatepicker"></mat-datepicker-toggle>
            <mat-datepicker #exitDateDatepicker></mat-datepicker>
          </mat-form-field>
        </div>

        <div>
          <mat-form-field appearance="outline" class="form-field">
            <mat-label>Entry price</mat-label>
            <input
              matInput
              placeholder="Entry price"
              [spellcheck]="false"
              [formControl]="formControl('entryPrice')"
            >
            <mat-error *ngIf="formControl('entryPrice').invalid">
              Should be number, equal or more then 0
            </mat-error>
          </mat-form-field>
        </div>

        <div>
          <mat-form-field appearance="outline" class="form-field">
            <mat-label>Exit price</mat-label>
            <input
              matInput
              placeholder="Entry price"
              [spellcheck]="false"
              [formControl]="formControl('exitPrice')"
            >
            <mat-error *ngIf="formControl('exitPrice').invalid">
              Should be number, equal or more then 0
            </mat-error>
          </mat-form-field>
        </div>
      </form>
    </mat-card-content>

    <mat-card-actions align="end">
      <button
        mat-stroked-button
        type="button"
        matTooltip="Return to list"
        (click)="goToList()"
      >
        Cancel
      </button>
      <button
        mat-stroked-button
        type="button"
        matTooltip="Reset changes"
        (click)="reset()"
      >
        Reset
      </button>
      <button
        mat-flat-button
        type="button"
        color="primary"
        matTooltip="Save"
        (click)="submit()"
      >
        Save
      </button>
    </mat-card-actions>
  </mat-card>
</div>

