<div class="root">
  <section class="chart-section">
    <trades-chart></trades-chart>
  </section>

  <section class="controls-section">
    <button
      mat-raised-button
      color="primary"
      type="button"
      matTooltip="Add new trade"
      (click)="addNewTrade()"
    >
      Add new trade
    </button>
  </section>

  <section class="cards-section">
    <mat-card *ngFor="let trade of trades; trackBy: trackByFn">
      <div class="trade-card-content">
        <div class="trade-card-content-item">
          <p>Entry date: {{trade.entryDate | date:'mediumDate'}}</p>
        </div>
        <div class="trade-card-content-item">
          <p>Entry price: {{trade.entryPrice | currency}}</p>
        </div>
        <div class="trade-card-content-item">
          <p>Exit date: {{trade.exitDate | date:'mediumDate'}}</p>
        </div>
        <div class="trade-card-content-item">
          <p>Exit price: {{trade.exitPrice | currency}}</p>
        </div>
        <div class="trade-card-content-item">
          <p>Profit: {{trade.profit | currency}}</p>
        </div>
        <div class="trade-card-content-item trade-card-controls">
          <button
            class="trade-card-control"
            mat-mini-fab
            color="primary"
            type="button"
            matTooltip="Edit trade"
            (click)="editTrade(trade.id)"
          >
            <mat-icon>edit</mat-icon>
          </button>
          <button
            class="trade-card-control"
            mat-mini-fab
            color="warn"
            type="button"
            matTooltip="Delete trade"
            (click)="deleteTrade(trade.id)"
          >
            <mat-icon>delete</mat-icon>
          </button>
        </div>
      </div>
    </mat-card>
  </section>
</div>
