.root {
  display: grid;
  grid-template-rows: 350px 40px 1fr;
  grid-gap: 16px;
  padding: 16px;
  max-height: 100vh;
  box-sizing: border-box;
}

.chart-section {

}

.controls-section {

}

.cards-section {
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.trade-card-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.trade-card-content-item {
  width: auto;
  flex: 0 0 auto;
  text-align: center;

  p {
    margin-bottom: 0;
  }
}

.trade-card-controls {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.trade-card-control {
  display: block;
}


