<h2 mat-dialog-title>
  {{data.title}}
</h2>
<mat-dialog-content>
  {{data.content}}
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button [matDialogClose]="false">Cancel</button>
  <button mat-button [matDialogClose]="true" color="warn">Confirm</button>
</mat-dialog-actions>
